<div ng-controller="logCntl">

  <div ng-hide="state.configAccessible">
    <b><em>Plese click the button to login as a server admin to view
	the couchDB log</em></b><p>
      <button class="btn btn-small btn-primary" ng-click="openLogin()">Log
	in your CouchDB</button>
  </div>
  <div ng-show="state.configAccessible">


    <!-- <div class="row"> -->
      <button ng-click="refresh()" class="btn btn-info">Refresh</button>
      <button ng-disabled="state.bytes==defaults.logBytes" ng-click="less()" class="btn btn-info">Less</button>
      <button  ng-click="more()" class="btn btn-info">More</button>
      <!-- <input type="checkbox" ng-model="state.autoRefresh"/>Auto refresh -->
      <!-- <input style="height:30px;" type="number" -->
      <!-- ng-model="state.logRefresh"/>  -->
      <!-- {{state.autoRefresh}} -->
    <!-- </div> -->
    <p></p>
    <pre>
      {{state.log }}
    </pre>
  </div>

</div>
