<div ng-controller="testCntl">
  <div ng-hide="state.configAccessible">
    <b><em>Please click the button to login as a server admin so I can setup your CouchDB.</em></b><p>
      <button class="btn btn-small btn-primary" ng-click="openLogin()">Log
        in your CouchDB</button>
  </div>

  <div ng-show="state.configAccessible">

    <div class="row">
      <div class="rep-buttons span6">
        <button class="btn btn-success" ng-click="newRow()">New</button>
        <!-- <button class="btn btn-success" ng-click="extract()">Extract</button> -->
        <!-- <button class="btn btn-danger" ng-click="delete()">Delete</button> -->
        <button class="btn btn-danger" ng-click="apply()">Apply</button>
        <button ng-disabled="modifiedCount == 0" class="btn btn-warning"
                ng-click="undo()">Undo edits</button>

        <!-- <button class="btn btn-success" ng-click="test()">try</button> -->
        <!-- <button class="btn btn-info" ng-click="apply()">Go</button> -->

        <!-- Search: <input ng-change="search()"  ng-model="searchText"> -->
        <!-- <span class="btn-group"> -->
        <!--   <button ng-class="searchState.names" style="width:100px" -->
		       <!--           type="button" class="btn btn-small btn-inverse" ng-click="toggleSearch('names')">names</button> -->
		       <!--   <button ng-class="searchState.roles" style="width:100px" -->
				      <!--           type="button" class="btn btn-small btn-inverse" -->
				      <!--           ng-click="toggleSearch('roles')">roles</button> -->
				      <!-- </span> -->
				      <!-- <div style="padding-bottom:10px;" > -->
				      <!--      Search: <input ng-change="search()"  ng-model="searchText"> -->
				      <!-- </div> -->
      </div>

      <div class="span6">

        <div class="btn-group pull-right" style="margin-right:0px;">
          <button ng-class="{active:editDocs}" style="width:100px" type="button"
                  class="btn btn-inverse"
                  ng-click="editDocs=!editDocs">Edit docs</button>
        </div>

        <div ng-hide="editDocs" class="btn-group pull-right " style="margin-right:10px;">
          <button ng-class="passed.all" style="width:70px" type="button"
                  class="btn btn-inverse"
                  ng-click="togglePassed('all')">All</button>
          <button ng-class="passed.passed" style="width:70px" type="button"
                  class="btn btn-inverse"
                  ng-click="togglePassed('passed')">Passed</button>

          <button ng-class="passed.failed" style="width:70px" type="button"
                  class="btn btn-inverse"
                  ng-click="togglePassed('failed')">Failed</button>
          <button ng-class="passed.indeterminate" style="width:70px" type="button"
                  class="btn btn-inverse"
                  ng-click="togglePassed('indeterminate')">?</button>

        </div>
      </div>

    </div>
    <!-- <div class="row"> -->
    <!-- <div style="padding-bottom:10px;" class="span3"> -->
    <!--   Search: <input ng-change="search()"  ng-model="searchText"> -->
    <!-- </div> -->


    <!-- <select ui-select2 ng-model="select2" data-placeholder="Pick a number"> -->
    <!--   <option value=""></option> -->
    <!--   <option value="one">First</option> -->
    <!--   <option value="two">Second</option> -->
    <!--   <option value="three">Third</option> -->
    <!-- </select> -->
    <!-- <input type="text" ui-select2="select2Options" ng-model="list_of_string" /> -->

    <!-- </div> -->
    <div  class="row">
      <div ng-hide="editDocs" ng-class="getGridWidth()" class="span12 gridStyle" ng-grid="testGridOptions"></div>

      <div ng-show="editDocs">

        <div ng-class="getGridWidth()" class="span4 gridStyle"
             ng-grid="testDocsGridOptions"></div>

        <div class="span5">

	  <a href="#" id="testDocName" data-type="text"></a>
	  
          <div class="objectEditor" my-attr="selectedRow.value"></div><br>
        </div>
        <div class="span3">
          <pre>{{selectedRow | json}}</pre>
        </div>
      </div>

      <!-- <div class="span2" style="margin-left:10px;"> -->
      <!--   <div  ng-show="viewState.admins" class="well"> -->
      <!--     Click on a row to set the server admin's password, or tick the -->
      <!--     delete boxes for the server admins you want to delete and click Apply. -->
      <!--   </div> -->
      <!--   <div  ng-hide="viewState.admins" class="well"> -->
      <!--     <div ng-hide="selectedUser">Click on a row to load and edit a user's -->
      <!--       password and roles</div> -->
      <!--     <div ng-show="selectedUser"> -->
      <!--       <h3>{{selectedUser._id.slice(17)}}</h3> -->
      <!--       Password: <a href="#" id="changeUserPwd" data-type="password"></a><br> -->

      <!--       <div ng-hide="viewState.admins"> -->
      <!--         <\!-- Roles: <a href="#" id="userRoles" data-type="select2"></a> <br> -\-> -->
      <!--         Roles: <br> <a href="#" id="userRoles" class="userRoles" -->
				  <!--                        data-type="select2"></a> <br> -->
				  <!--       </div> -->
				  <!--       <p></p> -->

				  <!--       <\!-- <button ng-show="edited" class="btn btn-small btn-primary" ng-click="applySingle()">Apply</button> -\-> -->
				  <!--     </div> -->
				  <!--     <\!-- <pre>{{selectedUser | json}}</pre> -\-> -->
				  <!--   </div> -->

				  <!-- </div> -->
    </div>



    <!-- <h3>all users</h3> -->
    <!-- <pre> -->
    <!--   <\!-- {{modifiedReps | json}}     -\-> -->
    <!--   {{state.allUsers | json}} -->
    <!-- </pre> -->
  </div>




  <!-- <div id="addUserDialog" modal="newUserShouldBeOpen" close="closeUser()" options="logopts"> -->
  <!--   <div class="modal-header"> -->
  <!--     <h3 ng-show="viewState.users">Create user</h3> -->
  <!--     <h3 ng-show="viewState.admins&&!justPwd">Create server admin</h3> -->
  <!--     <h3 ng-show="justPwd">{{userName}}</h3> -->

  <!--   </div> -->
  <!--   <div class="modal-body"> -->
  <!--     <form> -->
  <!--       <fieldset> -->
  <!--         <input ng-hide="justPwd" type="text" placeholder="name" ng-model="userName"><br> -->
  <!--         <input type="password" placeholder="password" ng-model="password"> -->
  <!--       </fieldset> -->
  <!--     </form> -->


  <!--   </div> -->
  <!--   <div class="modal-footer"> -->
  <!--     <button class="btn btn-warning cancel pull-left" ng-click="closeUser()">Cancel</button> -->
  <!--     <button class="btn btn-primary" ng-click="addUser()">Ok</button> -->
  <!--   </div> -->
  <!-- </div> -->
</div>
