<div  class="container manager" >
    <div class="row">
      <!-- <div  id="manmenu--" class="span1 mmenu-sidebar"><div ng-show="state.connected && state.advanced" id="manmenu"
     class="navigation" >
  <ul class="nav nav-list sidemenu" data-spy="affix"
      data-offset-top="130">
    <li ng-repeat="screen in screens" class="{{isActive('#' + screen.name)}}"><a   ng-click="click($event)" href="#{{screen.name}}"><i class="icon-chevron-right"></i>{{screen.menu}}</a></li>
  </ul>
</div>

</div> -->
      <div id="manager--"  class="span12" ><div ng-hide="state.connected">
  <div  id="setupConnection--" ><div ng-hide="state.disconnected || state.connecting">
  I have tried to connect to CouchDB with the following two addresses:
</div>

<div ng-show="state.connecting">
  I am trying to connect to the following addresses:
</div>


<div ng-show="!state.connecting && state.disconnected"> Please enter the urls of the CouchDB you want to try to connect to:</div>
<p></p>
- <a href="#" id="couchDBurl" data-type="text"></a> (CouchDB)
<br>
- <a href="#" id="corsProxy" data-type="text" ></a> (Cors Proxy)

<p></p>
<div ng-show="state.connecting">
  I will give up after one minute of waiting. To try again click the connect
  button or refresh the page. Correct the addresses first if necessary (by clicking on
  them).
  <p></p>
  You can also click on the text 'Connect to CouchDB' left top. Some
  previous addresses tried earlier might be listed. 
  <p></p>
  Default address of CouchDB is http://localhost:5984
  <p></p>
</div>


<div ng-hide="state.disconnected || state.connecting">
  Neither of them gave back a valid response.
  <p></p>
  Please correct them (by clicking on them) and then click the connect
  button or refresh the page.
  <p></p>
  You can also click on the text 'Connect to CouchDB' left top. Some
  previous addresses tried earlier might be listed. 
  <p></p>
  Default address of CouchDB is http://localhost:5984
  <p>
</div>

<button class="btn btn-small btn-primary" ng-click="connect()">Connect</button>

<p></p>
</div>
  <!-- <div ng-show="disconnected" id="setupConnectionDisconnected--" ></div> -->
  <a  ng-click="isSetupConnectionHelpCollapsed =
                !isSetupConnectionHelpCollapsed">For help on how to
                install and/or enable access to CouchDB click here.</a>
  <br>
    <div id="setupConnectionHelp--" collapse="isSetupConnectionHelpCollapsed"><p>For windows do the following: </p>

<ul>
<li><p>Download 
<a
href="http://mirror.mel.bkb.net.au/pub/apache/couchdb/binary/win/1.4.0/setup-couchdb-1.4.0_R16B01.exe">CouchDB</a>. For
alternative download locations click <a
href="http://www.apache.org/dyn/closer.cgi?path=/couchdb/binary/win/1.4.0/setup-couchdb-1.4.0_R16B01.exe"
target="_blank">here</a>. Double click on the downloaded file and go
though the install wizard. On the page 'Select Additional Tasks' leave
both checkboxes checked.</p></li>
<li><p>Download this <a href="cors-proxy.zip">utility</a>. Unzip it somewhere and double-click
the cors-proxy.bat in the unzipped folder. If a Windows Security
Alert window comes up click the button 'Allow access'.</p></li>
<li><p>Refresh this page, or click the connect button</p></li>
</ul>

<p>More help:</p>

<p>If you still can't connect this could be for the following reasons:</p>

<ul>
<li><p>You have not installed CouchDB.</p>

<p>Please download CouchDB for windows from <a href="http://www.apache.org/dyn/closer.cgi?path=/couchdb/binary/win/1.4.0/setup-couchdb-1.4.0_R16B01.exe">here</a>,
for mac <a href="http://www.apache.org/dyn/closer.cgi?path=/couchdb/binary/mac/1.4.0/Apache-CouchDB-1.4.0.zip">here</a> and linux <a href="http://www.apache.org/dyn/closer.cgi?path=/couchdb/source/1.4.0/apache-couchdb-1.4.0.tar.gz">here</a>.
Installing is a matter of just clicking Next. There is one step that
asks you wheter you want run the database as a service. If you say
'No' you will have to manually start CouchDB on every restart of your computer.
After downloading and installing come back to this page.</p></li>
<li><p>CouchDB is installed but is not configured properly (which it isn't
after a fresh install).</p>

<p>You can remedy this by doing one of the following:</p>

<ol><li><p>Download this little <a href="cors-proxy.zip">utility</a>. Unzip its content
somewhere on you hard drive and double click the cors-proxy.bat in
the unzipped folder.  Under Linux install node.js first, then
execute "node server.js". That should work on a Mac as well. Then
come back to this page and refresh or click the connect button. This
proxy server assumes your CouchDB instance is on
http;//localhost:5984<p> I will then try to configure CouchDb to
enable access without having to use this little utility.  This will
work with a CouchDB that is either not locked down yet with a server
admin password (as is the case after a fresh install) and/or when
the app you're using now is served from a standard location such as
localhost:8080 or quilt.michieljoris.net. <p> This is the simplest
solution for a fresh install.</p></li>
<li><p>Download this <a href="local.ini">file</a>. In windows copy this to
C:\Program Files (x86)\Apache Software
Foundation\CouchDB\etc\couchdb\local.ini. In Linux it is somewhere
like /usr/local/etc/couchdb/local.ini Overwrite the file that's
there already. Restart the CouchDB service, or restart the
computer. CouchDB should now be accessible from this site. <br>
<strong><em>Warning: Don't do this if you or somebody else has already configured CouchDB at  all. Besides clobbering current settings, it also will remove any existing server admins and set up a new admin (with password admin).</em></strong></p></li>
<li><p>If you know what you're doing go to the database config page, most
likely <a href="http://localhost:5984/_utils/config.html">here</a> for a local
install. If your CouchDB is on a network somewhere you will need to
replace the <em>localhost:5984</em> part of the address of this link with the proper address and
port. <p> 
You will need server admin credentials for a locked down CouchDB. On
a fresh install you don't. Look for the option <strong>enable_cors</strong> and
change its value to <strong>true</strong>. Look for the <strong>credentials</strong> options and
change its value to <strong>true</strong>. Then go to the bottom of the page and
click <strong>Add a new section</strong>. In the box that comes up fill in <strong>cors</strong>, <strong>origins</strong> and <strong>*</strong>
for <strong>section</strong>, <strong>option</strong> and <strong>value</strong> respectively. Refresh this page or click the
connect button.</p></li></ol></li>
<li><p>CouchDB is installed and configured properly but neither of the addresses entered
at the top of the page are correct. </p>

<ul><li><p>Carefully check the addresses you've
entered. If the cors proxy address worked before but not any more
now it might be because the CouchDB is actually configured correctly for cors
access now. Accessing a cors enabled server via a cors proxy is
problematic it seems. So check the database's direct address
carefully, because that should work now.</p></li>
<li><p>Is the port correct? For instance if your CouchDB is on a https address the port is
probably 6984. </p></li>
<li><p>The second address is the default address for the
little CorsProxy server that enables access. If you have a different
cors proxy server that enables access to your CouchDB fill that in
there. </p></li>
<li><p>Can you open the default address for the CouchDB instance in
a browser window? For a local CouchDB this is for instance
<a href="http://localhost:5984">http://localhost:5984</a>. You should see a empty page with
something like:</p>

<p>{"couchdb":"Welcome","uuid":"4418cad0d9bd42aabccad6cd71d1b5eb","version":"1.4.0","vendor":{"version":"1.4.0","name":"The
Apache Software Foundation"}}</p></li></ul></li>
</ul>

<p>The above tips assume you want the simplest setup possible. If you
don't want to enable cors for the CouchDB server you can use the
cors proxy server for all future access to the database. You will
have to run it every time before you use the roster app. You could
put it in the startup folder of windows. Your access will be through
the address http://localhost:1234. </p>

<p>If your setup is more complicated than above or it is not working contact me on <a href="&#x6D;&#97;&#x69;&#x6C;&#x74;&#x6F;:&#x6D;&#x61;&#105;&#x6C;&#x40;&#109;&#105;&#99;&#x68;&#x69;&#x65;lj&#111;&#114;&#x69;&#x73;&#x2E;&#x63;&#111;&#x6D;">&#x6D;&#x61;&#105;&#x6C;&#x40;&#109;&#105;&#99;&#x68;&#x69;&#x65;lj&#111;&#114;&#x69;&#x73;&#x2E;&#x63;&#111;&#x6D;</a></p></div>
</div>

<div ng-show="state.connected ">
  <div ng-show="isActive('#enableCors')" id="enableCors--"><p>This website and the roster app can't access the CouchDB server
directly when they are served from different origins. To enable this
access you have to install either a 'cors proxy', configure CouchDB
for cors access or install any apps that want access directly on CouchDB.</p>

<p>If you are accessing CouchDB via a proxy <span
ng-show="state.maybeCors">(it seems you are)</span> you can configure 
'enable cors' for the CouchDB server. See below for another option.</p>

<p ng-show="state.corsConfigured">
It looks like your CouchDB is configured for cors access 
(<a href="#" ng-click="checkCors($event)">check again</a>). If
you're happy with this (I would) <a href="#"
ng-click="checkCors($event)">go on</a> to setting up your
database. If not read on.
</p>

<p ng-show="!state.configAccessible && !state.corsConfigured">
 <b>Please click the button and log in with server admin
 credentials so I can check whether cors settings have been configured
 correctly.</b>

<br>
<button class="btn btn-small btn-primary" ng-click="openLogin()">Log in</button>
</p>

<div ng-show="state.configAccessible && !state.corsConfigured">
To enable cors and enable the roster app to access the database
directly a certain number of settings need to be applied.
<p><p>    

<button class="btn btn-small btn-primary" ng-click="enableCors($event)">
Apply cors settings to CouchDB (recommended)</button>
<p>

<a  ng-click="isCorsSettingsCollapsed =
!isCorsSettingsCollapsed">Click to see the settings that will be applied: </a>

<div collapse= "!isCorsSettingsCollapsed">
<pre>{{defaults.corsSettings | json}}</pre>
</div>

<p>After applying cors settings to your CouchDB instance you can use the
roster app and/or this app to access the databases, even when they're
not served from your local CouchDB.</p>

<p></div></p>

<hr />

<p>Instead of enabling cors on the CouchDb instance you can
serve the roster app and this app directly from
CouchDB, then they both come from the same domain, and the problem is also
solved. </p>

<p><span ng-show="state.servedFromCouchDb">
It looks like this app is already served from CouchDB. <br />
</span></p>

<p><span ng-hide="state.configAccessible">
<b>Please click the button right top and log in with server admin
credentials so I can replicate this and the roster app to your CouchDB.</b>
</span></p>

<p><span ng-show="state.configAccessible">
  To make this happen please click the button:<p></p>
<button class="btn btn-small btn-primary"   ng-click="repApps($event)">
Set up replication of this app and the roster app to your CouchDB</button>
</span>
</span></p>

<p>Go to <a href="{{state.connected}}/quilt/app target="blank">{{state.connected}}/quilt/app</a>
for this app, and <a target="_blank"
href="{{state.connected}}/roster/app">{{state.connected}}/roster/app</a> for
the roster.</p>

<hr />

<p><button class="btn btn-small btn-success" ng-click="done($event)">
Done</button></p></div>
  <div ng-show="isActive('#simple')" id="simple--"><div ng-hide="state.configAccessible">
  <b><em>Please click the button to login as a server admin so I can setup your CouchDB.</em></b>
  <button class="btn btn-small btn-primary" ng-click="openLogin()">Log
    in your CouchDB</button>
</div>

<div ng-show="state.configAccessible" ng-controller="multicapCntl">
  <ul class="nav nav-tabs" id="multicapTabs">
    <li class="active"><a href="#setupCouch" data-toggle="tab">Setup CouchDB</a>
    </li>
    <li><a href="#createLocation" data-toggle="tab">Setup master</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="setupCouch">
      <div id="setupCouch--"><div ng-show="state.configAccessible && !state.user">
  <div class="row" >
    <b class="span5" style="color:red;">
      Your CouchDB is in party mode. Which means there is no
      server admin configured. This makes your database quite insecure. It
      is not strictly necessary, but highly recommended to create a server
      admin. Please click the button to do so.
    </b>
    <div class="span7">
      <button class="btn btn-small btn-primary"
              ng-click="createServerAdmin()">Create server
	admin</button>
    </div>
  </div>
  <hr >
</div>


<div class="row">
  <div class="span5" >
    <i>Please edit the url of the CouchDB instance you want to use as
      the source. Leave the default if you don't know what to fill in
      here.
    </i>
  </div>
  <div class="span7">
    <b>Source CouchDB:</b> <a href="#" id="remoteUrl"
                              data-type="text"></a>
  </div>
</div>

<hr>

<div class="row">

  <div class="span5">
    <i>Please fill in user name and password for the source CouchDB
      instance. Don't use the user name and pwd of the server admin
      account of the CouchDB instance you're trying to set up. If you
      leave either one blank an existing session is used if found,
      however a password is needed to setup CouchDB. </i>
  </div>
  <div class="span7">
    <b>User name:</b> <a href="#" id="remoteUserName" data-type="text" ></a> <br>
    <b>Password:</b> <a href="#" id="remotePassword" data-type="password"
                        ></a>
  </div>
</div>
<hr>

<button ng-hide="connectingToSource || connectedToSource" class="btn btn-small btn-success"
        ng-click="getDbs()">
  Connect to source CouchDB instance</button>
<div ng-show="connectingToSource && !connectedToSource">
  <i class="icon-spinner icon-spin icon-medium"></i>
  Connecting to {{setup.remoteUrl}}</div>

<div ng-show="connectedToSource">
  <div class="row">
    <div class="span5">
      <i>
        Tick the locations that you want to synchronize
        with <b>{{setup.targetDatabase}}</b>.       </i>
      <br><br>
    </div>
    <div class="span7">
      <ul class="unstyled">
        <li ng-repeat="locationToSync in setup.locationsToSync">
          <label class="checkbox">
            <input type="checkbox"
                   ng-model="locationToSync.checked">
            {{locationToSync.name}} ({{locationToSync.sync}})
          </label>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="span5">
      <i>
        If you're not getting all the
        databases you're expecting modify user and password or the
        source url and click the refresh button.
      </i>
    </div>
    <div class="span7">
      <button ng-hide="connectingToSource" class="loading btn btn-small btn-success"
              ng-click="getDbs()">Refresh list of databases</button>
      <div ng-show="connectingToSource">
        <i class="icon-spinner icon-spin icon-medium"></i>
        Connecting to {{setup.remoteUrl}}</div>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="span5">
      <i>
        Edit the name of the database you want to create at
        <b> {{state.connected}}</b>. Leave the default if you don't know
        what to fill in here.
      </i>
    </div>
    <div class="span7">
      <b>Target database:</b> <a href="#" id="targetDatabase"
                                 data-type="text"></a>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="span5">
      <i>
        If you're installing to an existing CouchDB instance and you
        think there are already replications set up, leave this
        unchecked. If you want only replications that are needed for
        the roster app please check it.
      </i>
    </div>
    <div class="span7">
      <label class="checkbox">
        <input type="checkbox"
               ng-model="setup.removeAllReps">
        Remove all current replications
      </label>
    </div>
  </div>
  <!-- <br> -->
  <!-- <div class="row"> -->
  <!--   <div class="span5"> -->
  <!--     <i> -->
  <!--       This option will synchronize the roster app and this app -->
  <!--       (quilt) to your CouchDB instance. Uncheck if you don't want -->
  <!--       this. Both can still be accessed via the -->
  <!--       internet: <a href="http://quilt.michieljoris.net">quilt</a> -->
  <!--       and <a href="http://multicap.iriscouch.com" >roster app</a>. -->
  <!--       If you leave it checked these apps can be accessed locally -->
  <!--       at <a href="{{state.connected}}/quilt">quilt</a> -->
  <!--       and <a href="{{state.connected}}/roster" >roster app</a> -->
  <!--     </i> -->
  <!--   </div> -->
  <!--   <div class="span7"> -->
  <!--     <label class="checkbox"> -->
  <!--       <input type="checkbox" -->
  <!--              ng-model="setup.installApps"> -->

  <!--       Setup a copy of the roster app and this app on your CouchDB instance -->
  <!--     </label> -->
  <!--   </div> -->
  <!-- </div> -->
  <hr>
  <div class="row">
    <div class="span5">
      <i>When clicking the blue button databases will be created,
        permissions set and replications setup. When this is done you
        should be able to connect using
        the <a href="http://multicap.iriscouch.com" >roster app</a>.
        In the roster app click the database icon left top and fill
        in <b>{{state.connected}}</b> for the url
        and <b>{{setup.targetDatabase}}</b> for the database. Log in
        with the username and pwd you used here to set it all up.</i>
    </div>
    <div class="span7">
      <button class="btn btn-small btn-primary"
              ng-click="setupSimple()">Setup your CouchDB!!</button>
    </div>
  </div>
  <p></p>
  <div ng-show="state.testing">
    <pre>{{setup|json}}</pre>
    <pre>{{state.reps|json}}</pre>
    <br>
    More..
    <pre>readable{{readable|json}}</pre>
    <pre>writeable{{writable|json}}</pre>
    <pre>locationsDoc{{locationsDoc|json}}</pre>
  </div>

</div>
</div>
    </div>
    <div class="tab-pane" id="createLocation">
      <div id="createLocation--"><button class="btn btn-small btn-info"
	ng-click="createLocationsDb()">Create locations database</button>
<button class="btn btn-small btn-info"
	ng-click="createPersonsDb()">Create persons database</button>
<p></p>
<div style="width:500px;">
  These buttons are for setting up a master CouchDB instance. If the database
  doesn't exist yet it will be created. Then it will configure them properly.
</div>

<hr>
<button class="btn btn-small btn-success"
        ng-click="newLocationShouldBeOpen=true">New location</button>

<button class="btn btn-small btn-info" ng-click="refreshDatabases()">Refresh</button>
<p></p>
<div style="width:500px;">
  This is an easy way to create a new database for a new
  location. Normally you would only have to do this if you want to add a
  new location database to a master CouchDB instance. If you just want
  to replicate and sync an existing location database please go to the
  'Setup CouchDB' tab.
</div>

<p></p>
<h5>Locations with databases found at this CouchDB instance:</h5>
<p></p>
<div>
  <ul>
    <li ng-repeat="locationName in locationNames">
      {{locationsDoc[locationName].name}}
    </li>
  </ul>
</div>
<!-- {{locationListObj | json}} -->



<div id="addLocationDialog" modal="newLocationShouldBeOpen" close="closeLocation()" options="logopts">
  <div class="modal-header">
    <h3>New location name</h3>
    <!-- <h3 ng-show="viewState.users">Create user</h3> -->
    <!-- <h3 ng-show="viewState.admins&&!justPwd">Create server admin</h3> -->
    <!-- <h3 ng-show="justPwd">{{userName}}</h3> -->

  </div>
  <div class="modal-body">
    <form>
      <fieldset>
        <!-- <input ng-hide="justPwd" type="text" placeholder="name" ng-model="userName"><br> -->
        <input type="text" placeholder="location name" ng-model="locationName">
      </fieldset>
    </form>
    {{error}}


  </div>
  <div class="modal-footer">
    <button class="btn btn-warning cancel pull-left" ng-click="closeLocation()">Cancel</button>
    <button class="btn btn-primary" ng-click="createLocationDb()">Ok</button>
  </div>
</div>
</div>
    </div>
  </div>
</div>
</div>
  <div ng-show="isActive('#info')" id="info--"><p>You've switched to the advanced version of this app. If you didn't
mean to this please switch back to the <a href="#"
ng-click="simpleSetup($event)">simple</a> version.</p>

<p>If you are where you want to be, please select an section to configure in the top bar.</p></div>
  
  <div ng-controller="allUsersCntl" ng-show="isActive('#allUsers')" id="allUsers--"><div ng-hide="state.configAccessible">
  <b><em>Please click the button to login as a server admin so I can setup your CouchDB.</em></b><p>
    <button class="btn btn-small btn-primary" ng-click="openLogin()">Log
      in your CouchDB</button>
</div>
<div ng-show="state.configAccessible">


  <div class="row">
    <div class="rep-buttons span6">
      <button class="btn btn-success" ng-click="addUserDialog()">New</button>
      <!-- <button class="btn btn-success" ng-click="extract()">Extract</button> -->
      <!-- <button class="btn btn-danger" ng-click="delete()">Delete</button> -->
      <button class="btn btn-danger" ng-click="apply()">Apply</button>
      <button ng-disabled="modifiedCount == 0" class="btn btn-warning"
              ng-click="undo()">Undo edits</button>

      <button class="btn btn-info" ng-click="refresh()">Refresh</button>
      <div class="input-prepend " style="">
	<span style="height:20px;" class="add-on"><i class="icon-search"></i></span>
	<input id="inputIcon" type="text" ng-change="search()"  ng-model="searchText">
      </div>
      <!-- <span class="btn-group"> -->
      <!--   <button ng-class="searchState.names" style="width:100px" -->
      <!--           type="button" class="btn btn-small btn-inverse" ng-click="toggleSearch('names')">names</button> -->
      <!--   <button ng-class="searchState.roles" style="width:100px" -->
      <!--           type="button" class="btn btn-small btn-inverse" -->
      <!--           ng-click="toggleSearch('roles')">roles</button> -->
      <!-- </span> -->
      <!-- <div style="padding-bottom:10px;" > -->
      <!--      Search: <input ng-change="search()"  ng-model="searchText"> -->
      <!-- </div> -->
    </div>

    <div  class="span4">

      <div style="margin-left:10px" class="btn-group pull-right ">
        <button style="width:100px" type="button" class="btn
							 btn-inverse" ng-click="fetchAllInfo()">All info</button>
      </div>

      <div class="btn-group pull-right ">
        <button ng-class="viewState.admins" style="width:100px" type="button" class="btn btn-inverse" ng-click="toggleAdminsUsers('admins')">Server admins</button>
        <button ng-class="viewState.users" style="width:100px" type="button" class="btn btn-inverse" ng-click="toggleAdminsUsers('users')">Regular users</button>
      </div>




    </div>

  </div>
  <!-- <div class="row"> -->
  <!-- <div style="padding-bottom:10px;" class="span3"> -->
  <!--   Search: <input ng-change="search()"  ng-model="searchText"> -->
  <!-- </div> -->


  <!-- <select ui-select2 ng-model="select2" data-placeholder="Pick a number"> -->
  <!--   <option value=""></option> -->
  <!--   <option value="one">First</option> -->
  <!--   <option value="two">Second</option> -->
  <!--   <option value="three">Third</option> -->
  <!-- </select> -->
  <!-- <input type="text" ui-select2="select2Options" ng-model="list_of_string" /> -->

  <!-- </div> -->
  <div class="row">
    <div ng-class="getGridWidth()" class="span8 gridStyle" ng-grid="usersGridOptions"></div>

    <div class="span4" style="margin-left:10px;">
      <div  ng-show="viewState.admins" class="well">
        Click on a row to set the server admin's password, or tick the
        delete boxes for the server admins you want to delete and click Apply.
      </div>
      <div  ng-hide="viewState.admins" class="well">
        <div ng-hide="selectedUser">Click on a row to load and edit a user's
          password and roles</div>
        <div ng-show="selectedUser">
          <h3>{{selectedUser._id.slice(17)}}</h3>
          Password: <a href="#" id="changeUserPwd" data-type="password"></a><br>

          <div ng-hide="viewState.admins">
            <!-- Roles: <a href="#" id="userRoles" data-type="select2"></a> <br> -->
            Roles: <br> <a href="#" id="userRoles" class="userRoles"
                           data-type="select2"></a> <br>
          </div>
          <p></p>

          <!-- <button ng-show="edited" class="btn btn-small btn-primary" ng-click="applySingle()">Apply</button> -->
        </div>
        <!-- <pre>{{selectedUser | json}}</pre> -->
      </div>

    </div>
  </div>



  <h3>all users</h3>
  <pre>
    <!-- {{modifiedReps | json}}     -->
    {{state.allUsers | json}}
  </pre>
</div>




<div id="addUserDialog" modal="newUserShouldBeOpen" close="closeUser()" options="logopts">
  <div class="modal-header">
    <h3 ng-show="viewState.users">Create user</h3>
    <h3 ng-show="viewState.admins&&!justPwd">Create server admin</h3>
    <h3 ng-show="justPwd">{{userName}}</h3>

  </div>
  <div class="modal-body">
    <form>
      <fieldset>
        <input ng-hide="justPwd" type="text" placeholder="name" ng-model="userName"><br>
        <input type="password" placeholder="password" ng-model="password">
      </fieldset>
    </form>


  </div>
  <div class="modal-footer">
    <button class="btn btn-warning cancel pull-left" ng-click="closeUser()">Cancel</button>
    <button class="btn btn-primary" ng-click="addUser()">Ok</button>
  </div>
</div>
</div>
  <div ng-controller="databasesCntl" ng-show="state.activeScreen=='#databases'" id="databases--"><div ng-hide="state.configAccessible">
  <b><em>Please click the button to login as a server admin so I can setup your CouchDB.</em></b><p>
    <button class="btn btn-small btn-primary" ng-click="openLogin()">Log
      in your CouchDB</button>
</div>
<div ng-show="state.configAccessible">


  <div class="row">
    <div class="rep-buttons span7">
      <button class="btn btn-success" ng-click="addDatabaseDialog()">New</button>
      <!-- <button class="btn btn-success" ng-click="extract()">Extract</button> -->
      <!-- <button class="btn btn-danger" ng-click="delete()">Delete</button> -->
      <button class="btn btn-danger" ng-click="apply()">Apply</button>
      <button ng-disabled="modifiedCount == 0" class="btn btn-warning"
              ng-click="undo()">Undo edits</button>

      <button class="btn btn-info" ng-click="refresh()">Refresh</button> 
      <div class="input-prepend " style="">
	<span style="height:20px;" class="add-on"><i class="icon-search"></i></span>
	<input id="inputIcon" type="text" ng-change="search()"  ng-model="searchText">
      </div>
    </div>

    <div class="span3">


      <div class="btn-group pull-right ">
        <button style="width:100px" type="button" class="btn
							 btn-inverse" ng-click="fetchAllInfo()">All info</button>
      </div>




    </div>

  </div>
  <div class="row">
    <div ng-class="getGridWidth()" class="span9 gridStyle" ng-grid="databaseGridOptions"></div>

    <div class="span3" style="margin-left:10px;">
      <div ng-show="securityError">
        {{securityError}}
      </div>
      <div class="well" ng-show="selectedDatabase && !securityError" ng-controller="databasesCntl">

        <h5>Permissions</h5>
        Users: <br> <a href="#" id="dbMemberNames" data-type="select2"></a> <br>
        Roles: <br> <a href="#" id="dbMemberRoles" data-type="select2"></a> <br>
        <p></p>

      </div>

      <!-- <pre>{{secObj | json}}</pre> -->
    </div>


  </div> <!-- end row -->



  <h3>all databases</h3>
  <pre>
    <!-- {{modifiedReps | json}}     -->
    {{state.databases | json}}
  </pre>
</div>

<div id="addDatabaseDialog" modal="newDatabaseShouldBeOpen" close="closeDatabase()" options="logopts">
  <div class="modal-header">
    <h3>Create database</h3>
  </div>
  <div class="modal-body">
    <form>
      <fieldset>
        <input type="text" placeholder="new database name" ng-model="dbName"><br>
      </fieldset>
    </form>

  </div>
  <div class="modal-footer">
    <button class="btn btn-warning cancel pull-left" ng-click="closeDatabase()">Cancel</button>
    <button class="btn btn-primary" ng-click="addDatabase()">Ok</button>
  </div>
</div>
</div>
  <div ng-controller="replicationsCntl" ng-show="isActive('#replications')" id="replications--"><div ng-hide="state.configAccessible">
  <b><em>Please click the button to login as a server admin so I can setup your CouchDB.</em></b><p>
    <button class="btn btn-small btn-primary" ng-click="openLogin()">Log
      in your CouchDB</button>
</div>
<div ng-show="state.configAccessible && !editMode">


  <div class="row">
    <div class="rep-buttons span5">
      <button class="btn btn-success" ng-click="newRep()">New</button>
      <button class="btn btn-danger" ng-click="apply()">Apply</button>
      <button ng-disabled="modifiedCount == 0" class="btn btn-warning"
              ng-click="undo()">Undo edits</button>

      <button class="btn btn-info" ng-click="refresh()">Refresh</button> 
    </div>

    <div class="span7">


      <div class="btn-group pull-right " data-toggle="buttons-radio">
        <button ng-class="viewState.all" type="button" class="btn btn-inverse" ng-click="viewStateSet('all')">All</button>
        <button ng-class="viewState.triggered" type="button" class="btn btn-inverse" ng-click="viewStateSet('triggered')">Triggered</button>
        <button ng-class="viewState.error" type="button" class="btn btn-inverse" ng-click="viewStateSet('error')">Error</button>
        <button ng-class="viewState.completed" ng-class="viewState.all" type="button" class="btn btn-inverse" ng-click="viewStateSet('completed')">Completed</button>
        <button ng-class="viewState.couch" type="button" class="btn btn-inverse" ng-click="viewStateSet('couch')">couch</button>
        <button ng-class="viewState.quilt" type="button" class="btn btn-inverse" ng-click="viewStateSet('quilt')">quilt</button>
      </div>


      <span class="dropdown pull-right" >
        <button style="font-size:12px;margin-right:12px;" class="btn btn-inverse dropdown-toggle">
          Fields
        </button>
        <ul class="dropdown-menu">
          <li ng-repeat="choice in pickFieldsMenu">
            <a ng-click="pickFields(choice)" style="fontsize:10px;">{{choice}}</a>
          </li>
        </ul>
      </span>

      <span class="pull-right" >
        <button ng-class="{'active':polling}" ng-click="togglePolling()" style="font-size:12px;margin-right:12px;" class="btn btn-inverse">
          poll
        </button>
      </span>
    </div>

  </div>

  <div class="row">
    <div class="span12 gridStyle" ng-grid="gridOptions"></div>
  </div>
  <div class="row">
    <div class="span6">
      <h3>active<a style="font-weight:normal;font-size:12px" href=""
      ng-click="getActiveTasks()">  all</a></h3>
      <pre>{{activeTasks|json}}</pre>

    </div>
    <div class="span6">
      <h3>stats</h3>
      <pre>
	{{stats | json}}
      </pre>

    </div>
  </div>
  <div class="row">
    
    <div class="span12">
      <h3>reps</h3>
      <pre>
	<!-- {{modifiedReps | json}}     -->
	{{state.reps | json}} 
	<!-- {{getReps() | json}} -->
      </pre>

    </div>
  </div>
  
  
</div>

<div ng-show="state.configAccessible && editMode">

  <div class="row">
    <div class="rep-buttons span12">

      <button class="pull-left btn btn-info" ng-click="done()">Done</button>
    </div>

    <div class="span6">
    </div>

  </div>


  <div class="row">
    <div class="span3">



      <div>
        <h4>id</h4>
        <div style="padding-bottom:5px;">
          <a href="#" id="repId" data-type="text"></a>
          <!-- <a xeditable ng-model="rep._id" data-unsavedclass="" data-placement="right" -->
                  <!--    data-mode="popup">{{rep._id}}</a><br> -->
        </div>
        <hr>

        <h4>source</h4>
        <div style="padding-bottom:5px;">
          <input type="radio" ng-model="sourceType"  value="local"
                 ng-change="change('sourceType')">  Local
          <input type="radio" ng-model="sourceType"
                 value="remote" ng-change="change('sourceType')">
          Remote <br>
        </div>


        <div ng-show="sourceType=='local'">
          <select  ui-select2="sourceSelect2Options" ng-change="change('sourceLocalDb')"
                   ng-model="rep.sourceParsed.localDb" data-placeholder="Pick a database"
                   style="width:100%"
                   >
            <option value=""></option>
            <option ng-repeat="s in localDatabases" value="{{s}}">{{s}}</option>
          </select>
        </div>


        <div ng-show="sourceType=='remote'">
          <select  ui-select2="sourceSelect2Options" ng-change="change('sourceRemoteDb')"
                   ng-model="rep.sourceParsed.remoteDb" data-placeholder="Pick a database"
                   style="width:100%"
                   >
            <option value=""></option>
            <option ng-repeat="s in source.RemoteDatabases" value="{{s}}">{{s}}</option>
          </select>
        </div>

        <div ng-hide="sourceType=='local'">
          url: <a href="#" id="sourceUrl" data-type="text"></a>
          <sup style="color:red" ng-show="source.RemoteError">{{source.RemoteError}}</sup><br>
          user: <a href="#" id="sourceUser" data-type="text"></a> <br>
          pwd: <a href="#" id="sourcePwd" data-type="text"></a> <br>
        </div>
      </div>

      <hr>

      <div>
        <h4>target</h4>


        <div style="padding-bottom:5px;">
          <input type="radio" ng-model="targetType"  value="local"
                 ng-change="change('targetType')">  Local
          <input type="radio" ng-model="targetType"
                 value="remote" ng-change="change('targetType')">
          Remote <br>
        </div>

        <label class="checkbox">
          <input ng-model="rep.create_target" type="checkbox" value="">
          create_target
        </label>
        <span ng-show="rep.create_target">Name: <a href="#" id="target_to_create"
                                                   data-type="text"></a></span>

        <div ng-show="targetType=='local'&&!rep.create_target">
          <select  ui-select2="targetSelect2Options" ng-change="change('targetLocalDb')"
                   ng-model="rep.targetParsed.localDb" data-placeholder="Pick a database"
                   style="width:100%"
                   >
            <option value=""></option>
            <option ng-repeat="s in localDatabases" value="{{s}}">{{s}}</option>
          </select>
        </div>


        <div ng-show="targetType=='remote'&&!rep.create_target">
          <select  ui-select2="targetSelect2Options" ng-change="change('targetRemoteDb')"
                   ng-model="rep.targetParsed.remoteDb" data-placeholder="Pick a database"
                   style="width:100%"
                   >
            <option value=""></option>
            <option ng-repeat="s in target.RemoteDatabases" value="{{s}}">{{s}}</option>
          </select>
        </div>

        <div ng-hide="targetType=='local'">
          url: <a href="#" id="targetUrl" data-type="text"></a>
          <sup style="color:red" ng-show="target.RemoteError">{{target.RemoteError}}</sup><br>
          user: <a href="#" id="targetUser" data-type="text"></a> <br>
          pwd: <a href="#" id="targetPwd" data-type="text"></a> <br>
        </div>
      </div>

      <div>
        <hr>
        <label class="checkbox">
          <input ng-model="rep.continuous" type="checkbox" value="">
          continuous
        </label>

      </div>


    </div>

    <div class="span4">
      <div>
        <h4>user_ctx</h4>
        <div>
          Names: <br> <a href="#" id="repNames" class="userRoles"
                         data-type="select2"></a> <br>
          Roles: <br> <a href="#" id="repRoles" class="userRoles"
                         data-type="select2"></a> <br>
        </div>
      </div>

      <div>
        <hr>
        <h4>doc_ids</h4>

        <div ng-hide="fetchedDocIds">
          {{rep.doc_ids|json}}
          <a  href="" ng-click="fetchDocIds()">set</a>
          <sup style="color:red" ng-show="ibsError">{{idsError}}</sup><br>
        </div>

        <a ng-show="fetchedDocIds" ng-click="docIdsClick()" href="#" id="repIds" class="userRoles"
           data-type="select2"></a> <br>
      </div>

      <div>
        <hr>
        <h4>filter</h4>

        <div ng-hide="fetchedFilters">
          {{rep.filter}}
          <a  href="" ng-click="fetchFilters()">set</a>
          <sup style="color:red" ng-show="filterError">{{filterError}}</sup><br>
        </div>
        <div ng-show="fetchedFilters">
          <select   ui-select2="filterSelect2Options"
                    ng-model="rep.filter" data-placeholder="Pick a filter"
                    style="width:100%"
                    >
            <option value=""></option>
            <option ng-repeat="s in filters" value="{{s}}">{{s}}</option>
          </select>
        </div>

      </div>


      <hr>
      <h4>query_params</h4>

      <div class="objectEditor" my-attr="rep.query_params"></div><br>

    </div>

    <div class="span5">

      <h3>Status <a style="font-weight:normal;font-size:12px" href=""
                    ng-click="getActiveTasks(rep._id)">refresh</a></h3>
      <pre>{{activeTasks|json}}</pre>
    </div>

  </div>

  <div class="row">
    <h4>Raw json</h4>
    <pre>{{rep|json}}</pre>

  </div>
</div>
</div> 
  <div ng-controller="designCntl" ng-show="state.activeScreen=='#design'" id="design--"><div ng-controller="designCntl">

  <div class="row">

    <div class="span2">
      <div class="row">
        <div class="controls">
          <div class="input-prepend span2" style="margin-bottom:10px">
            <span style="height:20px;" class="add-on"><i class="icon-search"></i></span>
            <input  style="height:20px;width:130px;" id="inputIcon" type="text" ng-change="search()"
                    ng-model="searchText">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="gridStyle span2" ng-grid="dbGridOptions"></div>
      </div>
    </div>

    <div class="span10">
      <div class="container">
        <div class="row">

          <div class="rep-buttons span3">
            <button ng-disabled="viewStateGroup.validate" class="btn btn-success" ng-click="newRow()">New</button>
            <button class="btn btn-danger" ng-click="apply()">Apply</button>
            <button ng-disabled="modifiedCount == 0" class="btn btn-warning"
                    ng-click="undo()">Undo edits</button>
          </div>

          <div class="span7">

            <div ng-hide="false && viewState1.docs" class="btn-group pull-right" style="margin-right:10px">

              <button ng-repeat="funcType in funcTypes" ng-class="viewStateGroup[funcType]"
                      type="button" class="btn btn-inverse"
                      ng-click="toggleViewStateGroup(funcType)">{{funcType}}</button>
            </div>


          </div>
        </div>


        <div class="row">
        </div>

      </div>

      <div class="row">
        <div class="gridStyle span4" ng-grid="designGridOptions"></div>
        <div class="span4">
          <div ng-show="state.showEditor" style="margin-left:10px;" class="span6">
            <pre id="editor">
            </pre>
          </div>
          <div ng-hide="state.showEditor" class="well well-small">
            Please select a database on the far left. After that select
            a design function<br> and edit it here.<br><br>The editor uses vim style editing.<br><br>In normal mode press q to toggle full screen.<br><br>In insert mode press F10 to do the same.<br><br>To save the edits to the selected design function press F8 in normal mode.

          </div>
        </div>
      </div>

    </div>


  </div>
</div>
<div style="margin-top:30px;" class="row">

  <div class="span12">
    <pre>{{designDocs | json}}</pre>
    <pre>{{designRows | json}}</pre>
  </div>
</div>
</div>
  <div ng-controller="examineCntl" ng-show="state.activeScreen=='#examine'" id="examine--"><div class="row">

  <div ng-show="showDbList" class="span2">
    <div class="row">
      <div class="controls">
        <div class="input-prepend span2" style="margin-bottom:10px">
          <span style="height:25px;" class="add-on"><i class="icon-search"></i></span>
          <input  style="height:25px;width:130px;" id="inputIcon" type="text" ng-change="search()"
                  ng-model="searchText">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="gridStyle span2" ng-grid="dbGridOptions"></div>
    </div>
  </div>


  <div ng-class="span" class="tabbable">
    <ul id="examineTabs" class="nav nav-tabs">
      <li  ng-repeat="tab in tabs">
        <a ng-click="tabSelected(tab)" href="#{{tab.title}}" data-toggle="tab">{{tab.title}}</a>
      </li>
    </ul>
    <div class="tab-content" >
      <div class="tab-pane" ng-repeat="tab in tabs"
           id="{{tab.title}}">

        <span ng-switch on="isActiveTab(tab.title)">
          <div ng-switch-when="active" ng-include src="tab.url"></div>
        </span>

      </div>
    </div>

  </div>
  
  
</div>
</div>
  <!-- <div ng-controller="quiltCntl" ng-show="state.activeScreen=='#quilt'" id="quilt--">

<a href="#" id="quiltRemoteUrl" data-type="text"></a> 
</div> -->
</div>




</div>
      <!-- <div id="rightBar--"  class="span2" > -->
      </div>
    </div>
</div> 


