/*style.css*/
.gridStyle {
    border: 1px solid rgb(212,212,212);
    height: 400px;
    /* width:450px; */
    font-size:10px;
}
.ngCellElement input {
    font-size:10px;
}

.ngCell input {
    font-size:10px;
}

.gray {
    background: red;
    
}
